<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sj.app">

    <application
        android:name=".SjApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".A">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".B">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".C"
            android:process=":c">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".SjService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="sj.intent.action.ACTION_MAIN" />
            </intent-filter>
        </service>

        <receiver
            android:name=".SjStaticReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="sj.intent.action.ACTION_MAIN" />
            </intent-filter>
        </receiver>
    </application>

</manifest>